.register-button{
 min-width: 10px;
 width: fit-content;
font-weight: 550;
font-size: clamp(5px, 2vw, 20px);
  background: linear-gradient(75deg, #ff6f00, #f0aa56);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24%; 
  left: 56%; 
  padding: 6px;
}

@media (max-width:600px) {
  .register-button{
     padding: 0;
     bottom: 28%; 
     left: 50%; 
     border-radius: 0;
  }
  
}