
/* blue polygon on top */
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url("/Texture.png"); 
 margin-bottom: 40px;
}
/* welcome.....typing */
.textbox {
  max-width:fit-content;
  min-width: 200px;

}
/* program and events title */

.titlec {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 700;
  text-align: center;
  margin: 4rem 0 1rem 0;
  color: #333;
  text-transform: uppercase;
  overflow: hidden;
}

.subtitlec {
  font-size: clamp(0.9rem, 3vw, 1.7rem);
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
  margin-left: 2vw;
  margin-right: 2vw;
  line-height: 1.6;
  
}
@media (max-width: 370px) {
  .titlec{
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .titlec{
    margin-top: 5rem;
  }
}

/* img and text in banner */
.content-wrapper {
  padding: 30px;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.iitabhi1{
  position: relative;
   
    max-width: 450px;
    max-height: 550px;
    border-radius: 20px;
    overflow: hidden;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 2);
}

.text{
   font-size: clamp(2rem, 5vw, 8rem);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    margin: 0;
}

@media (max-width: 600px){
.iitabhi1{
  display: none;
}
.saathi11{
  border-radius: 5px;
}
}

.saathih{
    display: flex;
    justify-content: center;
    padding: 40px;
    overflow: hidden;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.saathih img {
  min-width: 140px;
  max-width: 950px; 
  height: auto;
}
.bubble{
  display: flex;
  position: absolute;
  left: 0;
  justify-items: left;
  width:20vw;
  z-index: -1;
}
.bubble1{
  display: flex;
  position: absolute;
  right: 0;
  justify-items: left;
  width:20vw;
  z-index: -1;
}

.join-btn{
  width: fit-content;
  padding: 9px;
  background-color: #153462;
  margin: 1vw;
  color: #ffffff;
  border-radius: 10px;
  font-size: clamp(0.9rem, 3vw, 1.7rem);
}
.cell-desc{
  font-weight:normal;
  font-size: clamp(0.9rem, 3vw, 1.7rem);
}
.typewriter {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0px ;
  display: inline-block;
   font-size: clamp(2rem, 5vw, 8rem);
  color: #153462;
  font-weight:bolder;
}


.saathi11{
  border-radius: 10px;
}



/* events section */
.event-section{
  padding: 10px 0;
}

@media (max-width: 450px){
  .program-section{
    place-items: center;
  }
  .event-section{
    place-items: center;
  }
  .text{
       font-size: clamp(1.5rem, 2vw, 5rem);
       width: fit-content;

  }
  .typewriter{
       font-size: clamp(1.5rem, 7vw, 5rem);

  }
}
@media (max-width: 270px){
#root{
  width: 150%;
  
}
  .cell-desc{
  font-weight:normal;
  font-size: clamp(0.9rem, 3vw, 3rem);
}
}